/* App.css */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

.app-logo {
  width: 50px; /* Adjust size as needed */
  height: auto;
  margin-right: 10px;
}

.app-header {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 2em;
  display: flex;
  align-items: center;
}

.app-nav {
  display: flex;
}

.app-nav a {
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 10px;
}

.app-nav a.active {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 20px;
}

.app-footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Keeps the footer at the bottom of the page */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .app-header {
    flex-direction: column;
    text-align: center;
  }

  .title, .app-nav {
    margin-top: 10px;
  }

  .app-nav a {
    margin-left: 0;
    margin-right: 10px;
  }

  .app-logo {
    margin-bottom: 10px; /* Adds space between logo and title/nav on small screens */
  }
}
